img { max-width: 100%; }

#compass {
	max-width: 85%;
	display: block;
	margin: 0 auto;
}

#country {
	display: block;
	margin: 50px auto 0;
    padding-bottom: 50px;
	width: 50%;
}

#balance {
	margin-top: 50px;
	width: 100%;
	height: 20px;
	position: relative;
	background-color: #d2d2d2;
}
	
#ball {
    width: 50px;
    height: 16px;
    margin-top: 2px;
    position: absolute;
    border-radius: 10px;
    left: calc(50% - 25px);
    background-color: #848484;
}